.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #808080;
  user-select: none;
  cursor: url("/assets/images/crosshair.svg") 25 25, auto;
}
